
<form action="/favourites" method="POST">
    <button class="w-full bg-gray-100 hover:bg-gray-200 text-gray-800 py-2.5 rounded-lg font-semibold transition-colors   duration-300">
    ❤️ Save
    </button>
    <input type="hidden" name="id" value="<%= home.id %>">
</form>