
ul{
    background: #89def3;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    
    padding: 5px;
}

.active-link{
    color: black;
    font-weight: bold;
}