*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  background-color: rgb(54, 65, 75);
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}
