
<footer class="bg-white mt-10 shadow-inner">
  <div class="max-w-7xl mx-auto px-6 py-4 text-center text-gray-500 text-sm">
    © 2026 AirBnB Clone • Built with Node + EJS + Tailwind
  </div>
</footer>

<!-- 

 <footer class="bg-white mt-10 shadow-inner">
    <div class="max-w-7xl mx-auto px-6 py-4 text-center text-gray-500 text-sm">
      © 2026 AirBnB Clone • Built with Node + EJS + Tailwind
    </div>
  </footer> -->