*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  height: 100vh;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}