<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Home Details</title>
  </head>

  <body>
    <header>
      <h2>Add your home details here:</h2>
    </header>
    <main>
      <form action="/admin/add-home" method="POST">
        <input type="text" name="HomeName" placeholder="Enter your home name" />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
